<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calculadora windows </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Operação</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Resultado</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row class="b1">
      <ion-col size="2">
        <ion-button [disabled]="true" color="medium">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="true" color="medium">MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">M+ </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">MS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="true" color="medium">M</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="b2">
      <ion-button color="medium">%</ion-button>
      <ion-button color="medium">√</ion-button>
      <ion-button color="medium">x²</ion-button>
      <ion-button color="medium">1/x</ion-button>
    </ion-row>

    <ion-row class="b2">
      <ion-button color="medium">CE</ion-button>
      <ion-button color="medium">C</ion-button>
      <ion-button color="medium">⌫</ion-button>
      <ion-button color="medium"> ÷</ion-button>
    </ion-row>
    <ion-row class="b2">
      <ion-button color="light">7</ion-button>
      <ion-button color="light">8</ion-button>
      <ion-button color="light">9</ion-button>
      <ion-button color="medium">*</ion-button>
    </ion-row>
    <ion-row class="b2">
      <ion-button color="light">6</ion-button>
      <ion-button color="light">5</ion-button>
      <ion-button color="light">4</ion-button>
      <ion-button color="medium"> -</ion-button>
    </ion-row>
    <ion-row class="b2">
      <ion-button color="light">3</ion-button>
      <ion-button color="light">2</ion-button>
      <ion-button color="light">1</ion-button>
      <ion-button color="medium"> +</ion-button>
    </ion-row>
    <ion-row class="b2">
      <ion-button color="medium">CE</ion-button>
      <ion-button color="light">0</ion-button>
      <ion-button color="medium">,</ion-button>
      <ion-button color="medium">±</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
